.toolbar-container {
  background-color: rgb(146, 204, 248);
}

.bg-div {
  background-color: rgb(146, 204, 248);
  ;
}

.boton {
  color: wheat;
}

.toolbar-container .logo {
  max-height: 52px;
}

.tipografia {
  font-family: 'Inter';
  color: whitesmoke;
}